
@{
    ViewData["Title"] = "Recharge_plans";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}


<!-- Content
============================================= -->
<div id="content">
    <!-- Page Header
    ============================================= -->
    <section class="page-header page-header-text-light bg-secondary">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h1>Browse Plans</h1>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb justify-content-start justify-content-md-end mb-0">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="active">Plans</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!-- Page Header end -->
    <div class="container">
        <div class="bg-light shadow-md rounded p-4">
            <form id="view-plans" asp-controller="Service" asp-action="Recharge_plans" class="form-row mb-4 mb-sm-2" method="post">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <select class="custom-select" id="operator" name="nspId">
                            <option value="">Select Your Operator</option>
                            @foreach (var item in ViewBag.Networks)
                            {
                                <option value="@item.nspId">@item.nspName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <select class="custom-select" name="price">
                            <option value="">Select Your Price</option>
                            <option value="20000">20000</option>
                            <option value="50000">50000</option>
                            <option value="100000">100000</option>
                            <option value="200000">200000</option>
                            <option value="500000">500000</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <button class="btn btn-primary btn-block" type="submit" value="submit">View Plans</button>
                </div>
            </form>
            <div class="plans page">
                <div class="table-responsive-md">
                    <table class="table table-hover border">
                        <tbody>
                            @foreach (var item in ViewBag.Values)
                            {
                                <tr>
                                    <td class="text-5 text-primary text-center align-middle">@item.valueName<span class="text-1 text-muted d-block"></span></td>
                                    <td class="text-3 text-center align-middle"> $@item.price<span class="text-1 text-muted d-block"> Amount</span></td>
                                    <td class="text-1 text-muted align-middle">@item.description</td>
                                    <td class="align-middle"><button class="btn btn-sm btn-outline-primary shadow-none" type="submit">Recharge Now</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div><!-- Content end -->
